@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Quicksand&display=swap');


.masthead {
  font-family: 'Leckerli One', cursive;
  font-size : 4rem;
  color : white;
  height: 100vh;
  min-height: 500px;
  background-image: url(../src/images/main.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.shop {
    font-size : 4rem;
    color : white;
    height: 50vh;
    min-height: 450px;
    background-image: url(../src/images/main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.dashboard {
    font-size : 4rem;
    color : white;
    height: 30vh;
    min-height: 200px;
    background-image: url(../src/images/main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }



.shop-text {
    font-family: 'Leckerli One', cursive;

    position: absolute;
    bottom: 0;
}

.lead {
    font-family: 'Quicksand', sans-serif;
}


nav {
  // margin-top: 1.5rem;
  // margin-bottom: 1rem;
  // margin: 1rem;
  padding : 2rem;
  font-family: 'Quicksand', sans-serif;
  color: white;
}


.nav-item{
  margin-right: 3rem;
}

.transition {
    -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
  }

body {
  color : rgb(46, 46, 46);
  background-color: rgb(248, 245, 236);
  font-family: 'Quicksand', sans-serif;

}

.bg {
  background-color: rgb(248, 245, 236);

}

//dashboard

legend {
  font-size: 1.5rem;
  line-height: inherit;
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: .5rem;
  padding: 0;
  white-space: normal;
  color: inherit;
  }

  [hidden] {
    display: none !important;
    }

    h2,
    h3,
    h5,
    .h2,
    .h3,
    .h5 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .5rem;
    color: #32325d;
    }


    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      border: 1px solid rgba(0, 0, 0, 0.048);
      border-radius: .375rem;
      background-color: #fff;
      background-clip: border-box;
      }

      .card>hr {
      margin-right: 0;
      margin-left: 0;
      }

      .card-body {
      padding: 1.5rem;
      flex: 1 1 auto;
      }

      .card-header {
      margin-bottom: 0;
      padding: 1.25rem 1.5rem;
      border-bottom: 1px solid rgba(0, 0, 0, .05);
      background-color: #fff;
      }

      .card-header:first-child {
      border-radius: calc(.375rem - 1px) calc(.375rem - 1px) 0 0;
      }

      .rounded-circle {
        border-radius: 50% !important;
        }

        @keyframes floating-lg {
          0% {
          transform: translateY(0px);
          }

          50% {
          transform: translateY(15px);
          }

          100% {
          transform: translateY(0px);
          }
          }

          @keyframes floating {
          0% {
          transform: translateY(0px);
          }

          50% {
          transform: translateY(10px);
          }

          100% {
          transform: translateY(0px);
          }
          }

          @keyframes floating-sm {
          0% {
          transform: translateY(0px);
          }

          50% {
          transform: translateY(5px);
          }

          100% {
          transform: translateY(0px);
          }
          }

          [class*='shadow'] {
          transition: all .15s ease;
          }

          .card-profile-image {
            position: relative;
            }

            .card-profile-image img {
            position: absolute;
            left: 50%;
            width: 200px;
            height: 200px;
            transition: all .15s ease;
            transform: translate(-50%, -30%);
            }

            .card-profile-image img:hover {
            transform: translate(-50%, -33%);
            }

            .card-profile-stats {
            padding: 1rem 0;
            }

            .card-profile-stats>div {
            margin-right: 1rem;
            padding: .875rem;
            text-align: center;
            }

            .card-profile-stats>div:last-child {
            margin-right: 0;
            }

            .card-profile-stats>div .heading {
            font-size: 1.1rem;
            font-weight: bold;
            display: block;
            }

            .card-profile-stats>div .description {
            font-size: .875rem;
            color: #adb5bd;
            }

            .main-content {
            position: relative;
            }

h4 {
  font-weight: 500;
  font-size: 14px;
  color: #aeaeae;
  text-transform: uppercase;
  margin: 0;
}

hr {
  margin-bottom: 16px;
  border: 1px solid #eaeaea;
}

.border-card {
  background: #fff;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-size: 14px;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease;
}
.border-card:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.border-card.over {
  background: rgba(70, 222, 151, 0.15);
  padding-top: 24px;
  padding-bottom: 24px;
  border: 2px solid #47DE97;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0), 0 5px 10px 0 rgba(0, 0, 0, 0);
}
.border-card.over .card-type-icon {
  color: #47DE97 !important;
}
.border-card.over p {
  color: #47DE97 !important;
}

.content-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.25s ease;
}

.min-gap {
  flex: 0 0 40px;
}

.card-type-icon {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 16px;
  font-weight: 400;
  color: #323232;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.25s ease;
}
.card-type-icon.with-border {
  color: #aeaeae;
  border: 1px solid #eaeaea;
}
.card-type-icon i {
  line-height: 40px;
}

.label-group {
  white-space: nowrap;
  overflow: hidden;
}
.label-group.fixed {
  flex-shrink: 0;
}
.label-group p {
  margin: 0px;
  line-height: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.label-group p.title {
  color: #323232;
  font-weight: 500;
}
.label-group p.title.cta {
  text-transform: uppercase;
}
.label-group p.caption {
  font-weight: 400;
  color: #aeaeae;
}

.end-icon {
  margin-left: 16px;
}


// sign form

.makeStyles-avatar-2 {
    margin: 8px;
    background-color: #7aa557 !important;
}
.makeStyles-avatar-837 {
    margin: 8px;
    background-color: #7aa557 !important;

}

.single {
    width : 80%;
    margin: auto;
    background-color : white;
}


// scroll bar


body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

  body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #7aa557; }


  // home

  .home {
    width :80%;
    margin: auto;
  }


  // button

  .button {
    display: inline-block;
    text-decoration: none;
    position: relative;
    margin-top: 40px;
}

.button .bottom {
    position: absolute;
    left: 18px;
    top: 12px;
    width: 85%;
    height: 85%;
    background-color: #7aa55775;
    display: block;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.button .top {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 24px 34px 22px 34px;
    border: 2px solid #e2510d;
}

.button-dark .top {
    border: 2px solid rgba(255, 255, 255, 0);
}

.button .top .label {
    font-family: sans-serif;
    font-weight: 600;
    color: #e2510d;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.button-dark .top .label {
    color: rgba(255, 255, 255, 0);
}

.button:hover .bottom {
    left: 0;
    top: 0;
    background-color: #f3f3f300;
}

.button:hover .top .label {
    color: #7aa557;
}

.button-border {
    position: absolute;
    background-color: #7aa557;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.button:hover .top .button-border-left,.button:hover .top .button-border-right {
    height: calc(100% + 2px);
}

.button:hover .top .button-border-top,.button:hover .top .button-border-bottom {
    width: calc(100% + 2px);
}

.button-border-left {
    left: -2px;
    bottom: -2px;
    width: 2px;
    height: 0;
}

.button-border-top {
    left: -2px;
    top: -2px;
    width: 0;
    height: 2px;
}

.button-border-right {
    right: -2px;
    top: -2px;
    width: 2px;
    height: 0;
}

.button-border-bottom {
    right: -2px;
    bottom: -2px;
    width: 0;
    height: 2px;
}

#intro {
  width: 200px;
  margin: 100px auto 0;
}


.social-login {
    width: 390px;
    margin: 0 auto;
    margin-bottom: 14px;
}

.facebook-btn {
    background-color: #3C589C;
}
.social-btn {
    font-weight: 100;
    color: white;
    width: 190px;
    font-size: 0.9rem;
}

.google-btn {
    background-color: #DF4B3B;
}

.btn-rounded {
  border-radius: 10em;
}

.MuiFormLabel-root.Mui-focused {
    color : #2c2c2c !important;
}

.MuiInputBase-input:focus {
    outline : none !important;
    outline-style:none !important;
    border-color:transparent !important;
}

.MuiOutlinedInput-input:focus{
    outline : none !important;
    outline-style:none !important;
    border-color:transparent !important;

}

// card
h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}

/********************* shopping Demo-1 **********************/
.product-grid{font-family:Raleway,sans-serif;text-align:center;padding:0 0 72px;border:1px solid rgba(0,0,0,.1);overflow:hidden;position:relative;z-index:1}
.product-grid .product-image{position:relative;transition:all .3s ease 0s;}
.product-grid .product-image a{display:block}
.product-grid .product-image img{width:100%;height:250px;}
.product-grid .pic-1{opacity:1;transition:all .3s ease-out 0s}
.product-grid:hover .pic-1{opacity:1}
.product-grid .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .3s ease-out 0s}
.product-grid:hover .pic-2{opacity:1}
.product-grid .social{width:150px;padding:0;margin:0;list-style:none;opacity:0;transform:translateY(-50%) translateX(-50%);position:absolute;top:60%;left:50%;z-index:1;transition:all .3s ease 0s}
.product-grid:hover .social{opacity:1;top:50%}
.product-grid .social li{display:inline-block}
.product-grid .social li a{color:#fff;background-color:#333;font-size:16px;line-height:40px;text-align:center;height:40px;width:40px;margin:0 2px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid .social li a:hover{color:#fff;background-color:#e2510d}
.product-grid .social li a:after,.product-grid .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid .social li a:hover:after,.product-grid .social li a:hover:before{opacity:1}
.product-grid .product-discount-label,.product-grid .product-new-label{color:#fff;background-color:#e2510d;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:10px;left:0}
.product-grid .product-discount-label{background-color:#333;left:auto;right:0}
.product-grid .rating{color:#FFD200;font-size:12px;padding:12px 0 0;margin:0;list-style:none;position:relative;z-index:-1}
.product-grid .rating li.disable{color:rgba(0,0,0,.2)}
.product-grid .product-content{background-color:#fff;text-align:center;padding:12px 0;margin:0 auto;position:absolute;left:0;right:0;z-index:1;transition:all .3s; height:7rem;}
.product-grid:hover .product-content{bottom:0; min-height: 50px;}
.product-grid .title{font-size:13px;font-weight:400;letter-spacing:.5px;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid .title a{color:#828282}
.product-grid .title a:hover,.product-grid:hover .title a{color:#e2510d}
.product-grid .price{color:#333;font-size:17px;font-family:Montserrat,sans-serif;font-weight:700;letter-spacing:.6px;margin-bottom:8px;text-align:center;transition:all .3s}
.product-grid .price span{color:#999;font-size:13px;font-weight:400;text-decoration:line-through;margin-left:3px;display:inline-block}
.product-grid .add-to-cart{color:#000;font-size:13px;font-weight:600}
@media only screen and (max-width:990px){.product-grid{margin-bottom:30px}
}



// footer
footer .main-footer{	padding: 20px 0;	background: #252525;}
footer ul{	padding-left: 0;	list-style: none;}
a {
  color : #ff8d1e;
}

/* Copy Right Footer */
.footer-copyright {	background: #222;	padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {	list-style: none;	margin: 0;	padding: 0;}
.footer-copyright nav ul li {	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px;}
.footer-copyright nav ul li a{	color: #969696;}
.footer-copyright nav ul li:first-child {	border: medium none;	padding-left: 0;}
.footer-copyright p {	color: #969696;	margin: 2px 0 0;}

/* Footer Top */
.footer-top{	background: #252525;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{	background: transparent;}
footer.transparent .footer-copyright{	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*====================
	Widgets
====================== */
.widget{	padding: 20px;	margin-bottom: 40px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 40px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color: #ff8d1e;}
.widget li a:hover{	color: #ff8d1e;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #7f7f7f;}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{	color: #fff;}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block;	height:30px;width: 30px;text-align: center;}


//range bar
.input-range__slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #7aa557;
border: 1px solid #7aa557;
border-radius: 100%;
}
