@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Quicksand&display=swap');


.masthead {
  font-family: 'Leckerli One', cursive;
  font-size : 4rem;
  color : white;
  height: 100vh;
  min-height: 500px;
  background-image: url(../src/images/main.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.shop {
    font-size : 4rem;
    color : white;
    height: 50vh;
    min-height: 450px;
    background-image: url(../src/images/main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.shop-text {
    font-family: 'Leckerli One', cursive;

    position: absolute;
    bottom: 0;
}

.lead {
    font-family: 'Quicksand', sans-serif;
}


nav {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin: 1rem;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.nav-item{
  margin-right: 3rem;
}


body {
  color : rgb(46, 46, 46);
  background-color: rgb(248, 245, 236);
  font-family: 'Quicksand', sans-serif;

}



// scroll bar 


body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #7aa557; }


  // home

  .home {
    width :80%;
    margin: auto;
  }


  // button

  .button {
    display: inline-block;
    text-decoration: none;
    position: relative;
    margin-top: 40px;
}

.button .bottom {
    position: absolute;
    left: 18px;
    top: 12px;
    width: 85%;
    height: 85%;
    background-color: #7aa5579c;
    display: block;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.button .top {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 24px 34px 22px 34px;
    border: 2px solid #e2510d;
}

.button-dark .top {
    border: 2px solid rgba(255, 255, 255, 0);
}

.button .top .label {
    font-family: sans-serif;
    font-weight: 600;
    color: #e2510d;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.button-dark .top .label {
    color: rgba(255, 255, 255, 0);
}

.button:hover .bottom {
    left: 0;
    top: 0;
    background-color: #f3f3f300;
}

.button:hover .top .label {
    color: #7aa557;
}

.button-border {
    position: absolute;
    background-color: #7aa557;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.button:hover .top .button-border-left,.button:hover .top .button-border-right {
    height: calc(100% + 2px);
}

.button:hover .top .button-border-top,.button:hover .top .button-border-bottom {
    width: calc(100% + 2px);
}

.button-border-left {
    left: -2px;
    bottom: -2px;
    width: 2px;
    height: 0;
}

.button-border-top {
    left: -2px;
    top: -2px;
    width: 0;
    height: 2px;
}

.button-border-right {
    right: -2px;
    top: -2px;
    width: 2px;
    height: 0;
}

.button-border-bottom {
    right: -2px;
    bottom: -2px;
    width: 0;
    height: 2px;
}

#intro {
  width: 200px;
  margin: 100px auto 0;
}


.social-login {
    width: 390px;
    margin: 0 auto;
    margin-bottom: 14px;
}

.facebook-btn {
    background-color: #3C589C;
}
.social-btn {
    font-weight: 100;
    color: white;
    width: 190px;
    font-size: 0.9rem;
}

.google-btn {
    background-color: #DF4B3B;
}

.MuiFormLabel-root.Mui-focused {
    color : #2c2c2c !important;
}

.MuiInputBase-input:focus {
    outline : none !important;
    outline-style:none !important;
    border-color:transparent !important;
} 

.MuiOutlinedInput-input:focus{
    outline : none !important;
    outline-style:none !important;
    border-color:transparent !important;

}

// card
h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}

/********************* shopping Demo-1 **********************/
.product-grid{font-family:Raleway,sans-serif;text-align:center;padding:0 0 72px;border:1px solid rgba(0,0,0,.1);overflow:hidden;position:relative;z-index:1}
.product-grid .product-image{position:relative;transition:all .3s ease 0s}
.product-grid .product-image a{display:block}
.product-grid .product-image img{width:100%;height:auto}
.product-grid .pic-1{opacity:1;transition:all .3s ease-out 0s}
.product-grid:hover .pic-1{opacity:1}
.product-grid .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .3s ease-out 0s}
.product-grid:hover .pic-2{opacity:1}
.product-grid .social{width:150px;padding:0;margin:0;list-style:none;opacity:0;transform:translateY(-50%) translateX(-50%);position:absolute;top:60%;left:50%;z-index:1;transition:all .3s ease 0s}
.product-grid:hover .social{opacity:1;top:50%}
.product-grid .social li{display:inline-block}
.product-grid .social li a{color:#fff;background-color:#333;font-size:16px;line-height:40px;text-align:center;height:40px;width:40px;margin:0 2px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid .social li a:hover{color:#fff;background-color:#e2510d}
.product-grid .social li a:after,.product-grid .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid .social li a:hover:after,.product-grid .social li a:hover:before{opacity:1}
.product-grid .product-discount-label,.product-grid .product-new-label{color:#fff;background-color:#e2510d;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:10px;left:0}
.product-grid .product-discount-label{background-color:#333;left:auto;right:0}
.product-grid .rating{color:#FFD200;font-size:12px;padding:12px 0 0;margin:0;list-style:none;position:relative;z-index:-1}
.product-grid .rating li.disable{color:rgba(0,0,0,.2)}
.product-grid .product-content{background-color:#fff;text-align:center;padding:12px 0;margin:0 auto;position:absolute;left:0;right:0;z-index:1;transition:all .3s; height:7rem;}
.product-grid:hover .product-content{bottom:0; min-height: 50px;}
.product-grid .title{font-size:13px;font-weight:400;letter-spacing:.5px;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid .title a{color:#828282}
.product-grid .title a:hover,.product-grid:hover .title a{color:#e2510d}
.product-grid .price{color:#333;font-size:17px;font-family:Montserrat,sans-serif;font-weight:700;letter-spacing:.6px;margin-bottom:8px;text-align:center;transition:all .3s}
.product-grid .price span{color:#999;font-size:13px;font-weight:400;text-decoration:line-through;margin-left:3px;display:inline-block}
.product-grid .add-to-cart{color:#000;font-size:13px;font-weight:600}
@media only screen and (max-width:990px){.product-grid{margin-bottom:30px}
}



// footer

.footer {
    background-color: #333;
    height: 10rem;
    margin-top: 5rem;
    padding : 1rem;
    width:100%;
    margin-left: 0px !important;
    color : white;
}